{% extends "/base.html" %}
{% block title %}EatSafe - AstonHome{% endblock %}
{% block content %}
<style>
    .sidenav a{
    display: block;
    padding: 2px 10px 32px;
    color:white;
    text-decoration: none;
    }

    div a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    }

    #diva{
    float: left;
    background-color:#DC143C;
    margin-right:3em;
    }
    #divb{
    display: inline-block
    }
    .sidenav div a {
    font-weight: bold;
    font-size:24px;
    }
    hr{
    background-color:#DC143C
    }



</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="diva" class="sidenav col-3">
    <a href="#">About</a>
    <a href="#">Rating & Review</a>
    <a href="/aston/menu">Menu</a>
    <a href="/aston/menu/signature">Signature</a>
    <a href="/aston/menu/burger">Burger</a>
    <a href="/aston/menu/chicken">Grillwork Chicken</a>
    <a href="/aston/menu/sidedish">Hot Side Dishes</a>
</div>
<div id="divb" class="col-8">
    <div>
    <span style="font-size:42px; font-weight:bold">   About  </span>
    <span class= "fa fa-star " style="color:orange"></span>
    <span class= "fa fa-star " style="color:orange"></span>
    <span class= "fa fa-star " style="color:orange"></span>
    <span class= "fa fa-star " style="color:orange"></span>
    <span class= "fa fa-star"></span>
    <span>4.1 (207)</span>
    <br>
    <h3>Our Story</h3>
    <br>
    <h4>It all started with one man's dream</h4>
    <br>
    <p>
        Aston Soon had a simple wish – to bring quality Western cuisine to the masses at affordable prices. With an idea, and the support of family and friends, he left his job as a restaurant chef to strike out on his own in 2005.
        ASTONS SPECIALITIES had its humble beginnings in a coffeeshop along East Coast Road. Before long, it gathered a loyal following (and a fair share of media interest) for its tasty fare, reasonable prices and sincere service.
        Listening to customers’ feedback, ASTONS SPECIALITIES shifted a few doors down and into its own shop-front, so that customers could dine in a more spacious and comfortable environment. Considering customers’ needs and
        responding to their suggestions and feedback proved to be an important factor for success. Within a few years, the ASTONS brand established itself as a household name, synonymous with quality and affordability.
        Ask Aston for his recipe to success and the answer is surprisingly down-to-earth: ‘For me, it’s about providing quality and value-for-money food, service that makes you feel like you’re with friends, and an experience that you’ll remember for life.’</p>
    </div>

    <h1> Promotions</h1>
    <p> This is a list of our ongoing promotions.</p>

    <h1>Reviews</h1>
    <img class="icon" src=/static/images/profilepictures/{{session['profile_pic']}}>
    {{session['username']}}
    <textarea name="comments" id="comments" style="width:600px;height:50px;font-family:sans-serif;font-size:14px;">
    </textarea>
    <input type="submit" value="Add to comments">
</div>
{% endblock %}


</script>

