{% extends "/base.html"%}
{% block content %}
<style>
    .sidenav a{
        display: block;
        padding: 2px 10px 32px;
        color:white;
        text-decoration: none;
    }

    .sidenav div a {
        font-weight: bold;
        font-size:24px;
    }

    div a:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
    #diva{
        float: left;
        background-color:#DC143C;
        margin-right:3em;
        margin-left:-1em;
    }
    .container{
    width:1000px;
    height70px;
    display:inline-block;
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="diva" class="sidenav col-2" style="font-size:18px;">
    <a href="/aston">About</a>
    <a href="#">Rating & Review</a>
    <a href="/aston/menu">Menu</a>
    <a href="/aston/menu/signature">Signature</a>
    <a href="/aston/menu/burger">Burger</a>
    <a href="/aston/menu/chicken">Grillwork Chicken</a>
    <a href="/aston/menu/sidedish">Hot Side Dishes</a>
</div>
<form class="container" method="POST">
    <br>
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        1&times; {{category}} {{message}}
                    </div>

                {% endfor %}

            {% endif %}
          {% endwith %}

    {% for item in foodlist%}
    <img style="padding-top:1em;" src="../../static/images/aston/{{foodlist[item][2]}}">
    <div>
        <h2>{{item.replace('_',' ')}}
            <small style="color:red; font-size:14px;">${{foodlist[item][1]}}
                <button type="submit" name="add_cart" class="btn btn-primary" value='{{item}},{{foodlist[item][1]}}'>Add to Cart</button></small>
        </h2>
            <p>{{foodlist[item][0]}}</p>

    </div>
    {% endfor %}

</form>
{% endblock %}